html {
	font-family: arial;
}
ul {
	list-style: none;
    padding-inline-start: 5px;
}
.align-right {
	float: left;
	display: inline-block;
	margin-left: 20px;
}

.align-left {
	float: left;
}

.top-right {
	opacity: 0;
	position: absolute;
	top: 0%;
	left: 90%;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
.align-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
}
.text-field {
	height: 30px;
	margin: 10px;
}
.media-button {
	border-radius: 0px;
	height: 30px;
	background-color: white;
	border-color: grey;
	margin-right: 20px;
}

.card {
	background-color: #d3d6db;
	border-color: #e6dfc6;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
}

.message-container {
    margin: 10px 5px 5px 5px;
    padding: 10px;
}

.channel {
    margin: 10px 5px 5px 5px;
    padding: 10px;
    display: inline-block;
}

.channel-name-container {
	display: inline-block;
	width: 400px;
}

.span-width {
	clear: both
}

.indent {
	float: left;
	width: 20px;
}

.channel-container {
	padding: 10px;
}

.channel-container:hover {
	background-color: #f0f2f5;
}

input.message-title {
	width: 462px;
}

textarea.message-body {
	width: 462px;
	height: 100px;
}

.message-margin {
	margin: 5px 5px 5px 5px;
}

.title-margin {
	margin: 20px 5px 0px 5px;
}

.heading {
	padding-left: 20px;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
	display: table-cell;
}

.header-container {
	display: table;
}

.results-container {
    margin: 10px 5px 5px 5px;
	height: 300px;
	overflow-y: scroll;
	clear: both;
	width: 984px;
	box-shadow: 0px 0px 3px 1px #d3d6db inset;
}

.result-message {
	overflow-x: hidden;
	white-space: nowrap;
}

div.result {
    margin: 5px;
}