<script>
	$(function() {
		renderCalendar();
	});
</script>

<div id="calendar">
</div>

<div id="event_dialog" title="Event" class="hidden">
	<p>
		<span class=""><strong>Title: </strong></span> <span id="event_title"></span>
	</p>
	<p>
		<span class=""><strong>Message: </strong></span> <span id="event_message"></span>
	</p>
	<p>
		<span class=""><strong>Date & time: </strong></span> <span id="event_timestamp"></span>
	</p>
	<p>
		<span class=""><strong>Channels: </strong></span> <span id="event_channels"></span>
	</p>
</div>