{% for channel in hierarchy %}
	<div class="channel card">
		<div class="parent">
			<div class="channel-container">
				<div class="channel-name-container">
					{{channel}}
				</div>
				<input type="checkbox" in_channel_hierarchy="true" channel="{{hierarchy[channel]['channel']}}" name="{{channel}}" path="{{hierarchy[channel]['path']}}" checked>
			</div>

			{% for child_channel in hierarchy[channel]['children'] recursive %}
				{% if child_channel['name'] %}
					<div class="parent">
						<div class="channel-container">
							<div class="channel-name-container">
								{% for n in range(loop.depth) %}
									<span class="indent">&nbsp;</span>
								{% endfor %}	
								{{child_channel['name']}}
							</div>
							<input type="checkbox" in_channel_hierarchy="true" channel="{{child_channel['channel']}}" name="{{child_channel['name']}}" path="{{child_channel['path']}}" checked>
						</div>
						{% if child_channel['children'] %}
							{{ loop(child_channel['children']) }}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<br/>
{% endfor %}
