<html>
	<head>
		<meta charset="UTF-8">
		<meta name="google" content="notranslate">
		<meta http-equiv="Content-Language" content="en">
		
		<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/media.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/fullcalendar/core/main.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/fullcalendar/daygrid/main.css')}}" />

		<script src="{{url_for('static', filename='js/fullcalendar/core/main.js')}}"></script>
		<script src="{{url_for('static', filename='js/fullcalendar/daygrid/main.js')}}"></script>
		<script src="{{url_for('static', filename='js/fullcalendar/interaction/main.js')}}"></script>

		<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.ui.touch-punch.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/media.js')}}"></script>
		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				var calendarElement = document.getElementById('calendar');

				if (calendarElement !== null) {
					var calendar = new FullCalendar.Calendar(calendarElement, {
						plugins: [ 'dayGrid' ]
					});

					calendar.render();
				}
			});
		</script>
	</head>
	<body>
		<div>
			<div id="header">
				{% include 'header.html' %}
				<input type="hidden" id="maximum_characters" name="maximum_characters" value="{{base_config['maximum_characters']}}">
			</div>
			<div class="menu-container">
				<ul>
					<li name="menu-item" content="post" class="selected">
						Post
					</li>
					<li name="menu-item" content="calendar">
						Calendar
					</li>
				</ul>
			</div>
			<div id="content-container" class="content-container">
				{% include 'post.html' %}
			</div>
		</div>
	</body>
</html>
