<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/media.css')}}">

		<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.ui.touch-punch.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/html2canvas.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/media.js')}}"></script>
		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	</head>
	<body>
		<div id="main">
			<div id="message-container" class="align-left">
				<div id="title-container">
					<input type="text" name="title">
				</div>
				<div id="body-container">
					<input type="textarea" name="body">
				</div>
				<div class="align-bottom">
					<button class="media-button" onclick="screenshot();">Post</button>
				</div>
			</div>
		</div>
		<div class="span-width">
			{% include 'channels.html' %}
		</div>
	</body>
</html>
